
    <h2>List of articles</h2>
    <h4> <%= link_to 'add New article', new_article_path %> </h4>

<% @articles.each do |art| %>

  <h3><%= art.title %></h3>
  <p>

  <h5><%= art.text %></h5>
  </p>
  <p>
    <%= link_to 'Show', article_path(art) %>  |

    <%= link_to 'Edit', edit_article_path(art) %>  |

    <%= link_to 'Destroooooy', article_path(art), method: :delete, data: { confirm: 'Are you sure?'}%>
  </p>
      <i>
<h3> commetns!</h3>
      <p>
        <% @comments.each do |com| %>

          <h6><%= com.author %></h6>
          <p>
*****
          <h6><%= com.body %></h6>

        <% end %>
      </i>
  <hr />
<% end %>
