<div class="container">
    <div class="row">

      <div class="col-xs-4">
      </div>

      <div class="col-xs-8">
        <h2><i>List of articles</i></h2>
        <h4> <%= link_to 'add New article', new_article_path %> </h4>
      </div>

    </div>

  <div class="row">

    <div class="col-xs-2">
    </div>

    <div class="col-xs-8">
      <% @xxx = 1 %>

      <% @articles.each do |art| %>

        <h3><%= art.title %></h3>
        <p> <h4><%= art.text %></h4> </p>
        <p>
          <%= link_to 'Show', article_path(art) %>  |

          <%= link_to 'Edit', edit_article_path(art) %>  |

          <%= link_to 'Destroooooy', article_path(art), method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
        <i>
          <h3> comments.....</h3>
          <p>
            <% @comments.each do |com| %>

            <p></p>

            <% if com.article_id == @xxx %>


              <h6><%= com.author %> said-</h6>
              <p>

              <h6><%= com.body %></h6>
            <% end %>

          <% end %>
          <% @xxx = @xxx + 1 %>
        </i>
        <hr/>
      <% end %>
    </div>

    <div class="col-xs-2">
    </div>

  </div>

</div>
