<h1>Hi</h1>






<h3>we can contact with you</h3>
<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :title %> <br>
    <%= f.text_field :title  %>
  </p>

  <p>
    <%= f.label :text %> <br>
    <%= f.text_field :text_area  %>
  </p>
  <p>
    <%= f.submit %>
  </p>


<% end %>